@import "tailwindcss";

@theme {

    /* Cores personalizadas */

    --color-blue-custom: #3898ef;
    --color-blue-light-custom:#CAEEFE;
    --color-black-custom: #000000;
    --color-gray-dark: #1b1b1b;
    --color-white-custom: #fff;

    --color-green-dark-custom: #226214;
    --color-green-light-custom: #43cc25;

    /* Fontes personalizadas */
    --font-Darker: "Darker Grotesque", sans-serif;
    --font-Manrope: "Manrope", sans-serif;

    /* Gradientes */
    --background-image-green-gradient: linear-gradient(180deg,
            #226214,
            #43cc25);

    --background-image-black-gradient: linear-gradient(90deg,
            #000000,
            #1b1b1b);
}

.btn-personalizado {
  position: relative;
  overflow: hidden;
}

.btn-personalizado::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
  animation: shine 1.7s infinite;
}


@keyframes shine {
  100% {
    left: 125%;
  }
}