@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {

    /* Cores personalizadas */
    --color-*: initial;

    --color-blue-custom: #3898ef;
    --color-black-custom: #000000;
    --color-gray-dark: #1b1b1b;
    --color-white-custom:#fff;

    --color-green-dark-custom: #226214;
    --color-green-light-custom: #43cc25;

    /* Fontes personalizadas */
    --font-Darker: "Darker Grotesque", sans-serif;
    --font-Manrope: "Manrope", sans-serif;

}